<link rel="stylesheet" href="../../css/bootstrap.min.css">
<link rel="stylesheet" href="../../css/styles.css">

<script src="../../js/jquery.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>

<!-- Product Description -->
<div class="col-xs-9">
<div class="product-description">
  <span>Headphones</span>
  <h4>Beats EP</h4>
  <marquee behavior="scroll" direction="left">Beats EP is an ideal introduction to Beats for any music lover seeking a
    dynamic listening experience. </marquee>
  <p>The preferred choice of a vast range of acclaimed DJs. Punchy, bass-focused sound and high isolation. Sturdy
    headband and on-ear cushions suitable for live performance</p>


</div>

<!-- Product Configuration -->
<div class="product-configuration">

  <!-- Product Color -->
  <div class="product-color">
    <span>Color</span>

    <div class="color-choose">
      <div>
        <input data-image="red" type="radio" id="red" name="color" value="red" checked>
        <label for="red"><span></span></label>
      </div>
      <div>
        <input data-image="blue" type="radio" id="blue" name="color" value="blue">
        <label for="blue"><span></span></label>
      </div>
      <div>
        <input data-image="black" type="radio" id="black" name="color" value="black">
        <label for="black"><span></span></label>
      </div>
    </div>

  </div>

  <!-- Cable Configuration -->
  <div class="cable-config">
    <span>Cable configuration</span>

    <div class="cable-choose">
      <button>Straight</button>
      <button>Coiled</button>
      <button>Long-coiled</button>
    </div>

    <a href="#">How to configurate your headphones</a>
  </div>
</div>

<!-- Product Pricing -->
<div class="product-price">
  <span>148$</span>
  <button class="cart-btn" id="headphones">Add to cart</button>
  <span id="msg"></span>
</div>

</div>
<div class="col-xs-3 images">

    <img data-image="red" class="active" src="../../images/beatsRed.png" alt="">
  </div>

<script src="../../js/productlist.js"></script>