<link rel="stylesheet" href="../../bootstrap.min.css">
<link rel="stylesheet" href="../../css/styles.css">

<div>

    <h4>Electronics</h4>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav" id="navigate">
            
      
      </div>

 
      
  <ul class="nav nav-tabs">
    
      <li  class="active"><a href="television.html"><span class="glyphicon "></span>Television</a></li>
      <li><a href="music.html" target="elecFrame"><span class="glyphicon "></span>Music</a></li>
      <li><a href="laptops.html" target="elecFrame"><span class="glyphicon "></span>Laptops</a></li>
      <li><a href="phones.html" target="elecFrame"><span class="glyphicon "></span>Phones</a></li>
    </ul>
  
    <div class="tab-content">
     
        <iframe id="frame" name="elecFrame" src="" width="100%" height="600" scrolling="no" style="overflow:hidden;">
          </iframe>

    </div>
 

  
</div>




<script src="../js/products.js"></script>