<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="../css/styles.css">

<div>
    <ul class="nav navbar-nav navbar-left pull-right">
        <li><a href="productsList.html"><span class="glyphicon "></span>Back</a></li>
      </ul>
    <h1>Electronics</h1>

 



  <marquee behavior="scroll" direction="left">(: Sell Products at their best price :)</marquee>
  <p>sell products over here</p>

  <ul class="itemList">
    <li><a href="television.html"><span class="glyphicon "></span>Television</a></li>
    <li><a href="music.html"><span class="glyphicon "></span>Music</a></li>
    <li><a href="laptops.html"><span class="glyphicon "></span>Laptops</a></li>
    <li><a href="phones.html"><span class="glyphicon "></span>Phones</a></li>
  </ul>
</div>




<script src="../js/products.js"></script>