<link rel="stylesheet" href="../css/styles.css">

<div class="col-sm-12 text-left">
  <h1>Products Category</h1>
  <marquee behavior="scroll" direction="left">(: Sell Products at their best price :)</marquee>
  <p>sell products over here</p>

  <div class="col-xs-3">
<ul class="itemList">
    <li><a href="Electronics.html"><span class="glyphicon glyphicon-log-in"></span>Electronics</a></li>
    <li><a href="Home Appliances.html"><span class="glyphicon glyphicon-log-in"></span>Home Appliances</a></li>
    <li><a href="Vehicles.html"><span class="glyphicon glyphicon-log-in"></span>Vehicles</a></li>
</ul>
</div>



    <div class="col-xs-9">
      <iframe id="productFrame" name="productFrame" src="" width="100%" height="600" scrolling="no" style="overflow:hidden;">
      </iframe>
    </div>

</div>

<script src="../js/products.js"></script>