<link rel="stylesheet" href="../css/styles.css">
<div class="container-fluid text-center wrapper">

  <h1>Products List</h1>
  <p>Buy the Products from Here</p>
  <main class="container">
<ul  class="itemList">
    <li><a href="beatsHeadphones.html"><span class="glyphicon "></span>Beats Headphones</a></li>
    <li><a href="perfume.html"><span class="glyphicon "></span>Jaguar Perfume</a></li>
    <li><a href="tShirts.html"><span class="glyphicon "></span>T-shirts</a></li>
  </ul>

</div>

</main>


<script src="../js/products.js"></script>