 <link rel="stylesheet" href="../css/styles.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <div class="">
  <ul class="nav navbar-nav navbar-left">
    <li><a href="productsList.html"><span class="glyphicon glyphicon-log-in"></span>Back</a></li>
  </ul>
  
<div class="container-fluid text-center wrapper"> 
  <link rel="stylesheet" href="styles.css">
  
    <h1>Sell your vehicle noww!</h1>
    <p>sell your cars at amazing resale values</p>
    <main class="container">
 
  <!-- Left Column / Perfume Image -->
  <div class="left-column">
    <img data-image="black" src="images/black.png" alt="">
    <img data-image="blue" src="images/blue.png" alt="">
    <img data-image="red" class="active" src="images/red.png" alt="">
  </div>
 
 
  <!-- Right Column -->
  <div class="right-column">
 
    <!-- Product Description -->
    <div class="product-description">
      <span>Upload images of your car over here</span>
    

    <p>
    <label for="carType">Car Type</label>
    <select id="carType" name="carType">
      <option value="sedan">Sedan</option>
      <option value="mini">Mini</option>
      <option value="hunch back">Hunch Back</option>
      <option value="SUV">SUV</option>
    </select>
     </p>



    <label for="carModelName">Car Model Name</label>
    <input type="text" id="carModelName" name="carModelName" placeholder="Car Model(ex. Audi Q5 , BMW 3030..">



     	  <label for="yearsUsed">Used since</label>
    <input type="text" id="yearsUsed" name="yearsUsed" placeholder="Car used Since">




    <label for="subject">Description about Car</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">
          </div>
        </div>
 
      </div>
 
      <!-- Cable Configuration -->
      <div class="cable-config">
        <span></span>
 
        
 
        <a href="#">calculate resale value</a>
      </div>
    </div>
 
    <!-- Product Pricing -->
    <div class="product-price">
      <span></span>
      <a href="#" class="cart-btn"></a>
    </div>
  </div>


</div>
<script src="../js/productlist.js"></script>

