<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="description" content="eStore">
  <meta name="keywords" content="products, charity, sell buy">
  <meta name="author" content="Sushma Sakala, Lakshmi Prasanna, Sainath, Teja">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link rel="stylesheet" href="../css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <img class="navbar-brand logo" src="../images/logo.png" alt="eStore" title="eStore"/>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    
      <ul class="nav navbar-nav navbar-right">
        <li><a href="../login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    <li><a href="signup.html"><span class="glyphicon glyphicon-log-in"></span> Sign Up</a></li>
      </ul>
 <ul class="nav navbar-nav navbar-left">
        <li><a href="products.html"><span class="glyphicon glyphicon-log-in"></span>Back</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center wrapper"> 
  <link rel="stylesheet" href="styles.css">
  
    <h1>Sell your vehicle noww!</h1>
    <p>sell your cars at amazing resale values</p>
    <main class="container">
 
  <!-- Left Column / Perfume Image -->
  <div class="left-column">
    <img data-image="black" src="images/black.png" alt="">
    <img data-image="blue" src="images/blue.png" alt="">
    <img data-image="red" class="active" src="images/red.png" alt="">
  </div>
 
 
  <!-- Right Column -->
  <div class="right-column">
 
    <!-- Product Description -->
    <div class="product-description">
      <span>Upload images of your car over here</span>
    

      
     <p/>
    <p>
    <label for="carType">Car Type</label>
    <select id="carType" name="carType">
      <option value="sedan">Sedan</option>
      <option value="mini">Mini</option>
      <option value="hunch back">Hunch Back</option>
      <option value="SUV">SUV</option>
    </select>
     </p>



    <label for="carModelName">Car Model Name</label>
    <input type="text" id="carModelName" name="carModelName" placeholder="Car Model(ex. Audi Q5 , BMW 3030..">



     	  <label for="yearsUsed">Used since</label>
    <input type="text" id="yearsUsed" name="yearsUsed" placeholder="Car used Since">




    <label for="subject">Description about Car</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">
          </div>
        </div>
 
      </div>
 
      <!-- Cable Configuration -->
      <div class="cable-config">
        <span></span>
 
        
 
        <a href="#">calculate resale value</a>
      </div>
    </div>
 
    <!-- Product Pricing -->
    <div class="product-price">
      <span></span>
      <a href="#" class="cart-btn"></a>
    </div>
  </div>
</main>
<footer class="container-fluid text-center navbar-inverse">
  <p>&copy; copy rights reserved</p>
</footer>

<script src="../js/productlist.js"></script>
</body>
</html>
