<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

    <h3 > Welcome <span id="userName"></span></h3>
  <div class="container">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="../images/welcome1.jpg" alt="Los Angeles" style="width:1000px;height:400px">
        </div>

        <div class="item">
          <img src="../images/welcome2.png" alt="Chicago" style="width:1000px;height:400px">
        </div>

        <div class="item">
          <img src="../images/welcome3.png" alt="New york" style="width:1000px;height:400px">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <p class="desc">
    The purpose of this website is to help small businesses by creating a platform to take their business to web.
    "eStore" is an eCommerce website which deals with retail products. System provides an option to donate certain
    percentage of bill amount to charity. If a user wants to sell their used products he can do so by listing his
    products in the catalog. He is given an opportunity to determine any reasonable price.
  </p>
</body>