<<<<<<< HEAD
body,iframe,p{
   margin:0;
   padding:0;
   border:0;
=======
body{
 height:100%;width:100%;   
>>>>>>> 1bf3343978fc4a28d81f159e366c34a19be6c2f3
}
.top20{
    margin-top:20px;
}


.navbar>.container-fluid .logo.navbar-brand {
    width: 100px;
    padding: 0;
    margin-left: 15px;
    display: inline-block;
}
.navbar {
    margin: 0;
}
.wrapper{
    width:320px;
    margin: 10px auto;
    border:1px solid #ccc;
}
.login{
    margin:0 auto;
    float:none;
}
.login .form-control, .login button {
    margin-top: 10px;
}
footer{
    color:#fff;
}


/*tablet styles*/
@media screen and (min-width: 660px)  and (max-width: 980px) {

    .wrapper{
        width:660px;
        min-height:650px;
    }
    .login{
        margin-top:200px;
    }
  }

  
/*Desktop styles*/
@media screen and (min-width: 980px)   {
    .wrapper{
        width:980px;
        min-height:650px;
    }
    .login{
        margin-top:200px;
    }
}
